<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<meta name="viewport"
  content="width=device-width,initial-scale=1,user-scalable=no" />
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<link rel="stylesheet" type="text/css"
  th:href="@{bootstrap3/css/bootstrap.css}"
  href="../bootstrap3/css/bootstrap.css">
<link rel="stylesheet" type="text/css"
  th:href="@{bootstrap3/font-awesome-4.7.0/css/font-awesome.css}"
  href="../bootstrap3/font-awesome-4.7.0/css/font-awesome.css" />
<script type="text/javascript" th:src="@{bootstrap3/jquery.min.js}"
  src="../bootstrap3/jquery.min.js"></script>
<script type="text/javascript" th:src="@{bootstrap3/js/bootstrap.js}"
  src="../bootstrap3/js/bootstrap.js"></script>
<script type="text/javascript" th:src="@{bootstrap3/js/holder.js}"
  src="../bootstrap3/js/holder.js"></script>
<script type="text/javascript"
  th:src="@{bootstrap3/js/html5shiv.min.js}"
  src="../bootstrap3/js/html5shiv.min.js"></script>
<script type="text/javascript"
  th:src="@{bootstrap3/js/css3-mediaqueries.js}"
  src="../bootstrap3/js/css3-mediaqueries.js"></script>
<script type="text/javascript" th:src="@{bootstrap3/js/respond.min.js}"
  src="../bootstrap3/js/respond.min.js"></script>
<link rel="stylesheet" type="text/css" th:href="@{mycss/four.css}"
  href="../mycss/four.css" />
</head>
<body>
  <!-- 内容输入 到footer中 -->
  <footer>
    <div align="center">
      <img src="../imgs/fourtest.png" th:src="@{imgs/fourtest.png}"
        class="img-rounded">
    </div>
    <div>
      <div class="way">
        <select name="">
          <option>-请选择查询方式-</option>
          <option value="0">按日期查询</option>
          <option value="1">按编号查询</option>
          <option value="2">按名称查询</option>
          <option value="3">按状态查询</option>
        </select>
      </div>
      <form class="form-inline" action="Four_one" method="get">
        <div id="waybutton">
          <div id="0">
            <span class="text-info">借阅日期：</span><input type="date"
              readOnly=true th:value="${f.borrow_time}"
              value="1970-01-01" class="form-control" name="borrow_time"><br>
            <span class="text-info">归还日期：</span><input type="date"
              readOnly=true th:value="${f.return_time}"
              value="1970-01-01" class="form-control" name="return_time">
          </div>
          <div id="1">
            <span class="text-info">书籍编号：</span><input type="text"
              readOnly=true th:value="${f.id}" value="1000" name="id"
              class="form-control">
          </div>
          <div id="2">
            <span class="text-info">书籍名称：</span><input type="text"
              readOnly=true th:value="${f.bookname}" value="XX"
              class="form-control" name="bookname">
          </div>
          <div id="3">
            <span class="text-info">书籍状态：</span><input type="text"
              readOnly=true th:value="${f.status}" value="3"
              class="form-control" name="status">
          </div>
        </div>
        <div id="true">
          <button type="submit" class="btn btn-success">确定查找</button>
        </div>
      </form>
      <div class="back">
        <table class="table table-hover">
          <thead>
            <th></th>
            <th>书籍编号</th>
            <th>书籍名称</th>
            <th>借阅日期</th>
            <th>归还日期</th>
            <th>书籍状态</th>
          </thead>
          <tbody th:each="a:${lists}">
            <tr>
              <td><input type="checkbox"></td>
              <td th:text=${a.id}>1001</td>
              <td th:text=${a.bookname}>人间六月天</td>
              <td th:text=${a.borrow_time}>2019-6-19 13:00:27</td>
              <td th:text=${a.return_time}>2019-7-15 12:00:27</td>
              <td th:text=${a.status}>已归还</td>
            </tr>
            <tr th:remove="all">
              <td><input type="checkbox"></td>
              <td>1002</td>
              <td>边城</td>
              <td>2019-6-19 13:00:27</td>
              <td>2019-7-15 12:00:27</td>
              <td>已归还</td>
            </tr>
            <tr th:remove="all">
              <td><input type="checkbox"></td>
              <td>1003</td>
              <td>活着</td>
              <td>2019-6-19 13:00:27</td>
              <td>2019-7-15 12:00:27</td>
              <td>已归还</td>
            </tr>
          </tbody>
        </table>
      </div>
      <nav>
        <div id="page">
          <ul class="pagination">
            <li><a href="#" aria-label="Previous"> <span
                aria-hidden="true">&laquo;</span>
            </a></li>
            <li th:each="len:${lens}"><a th:text=${len} href="#"
              onclick="changeType()">1</a></li>
            <li th:remove="all"><a href="#">2</a></li>
            <li th:remove="all"><a href="#">3</a></li>
            <li><a href="#" aria-label="Next"> <span
                aria-hidden="true">&raquo;</span>
            </a></li>
          </ul>
        </div>
      </nav>
    </div>
  </footer>
  <!--功能 方法 -->
  <script type="text/javascript">
			$(function() {
				//$("tbody").hide();
				//初始显示第一页
				$("tbody>tr:gt(2)").hide();
				$("tbody>tr:lt(2)").show();

				//点击获得文本显示
				$("select:first").change(function() {
					//$("#waybutton input").val("0");
					$("#0 input").attr({
						"value" : "1970-01-01"
					});
					$("#1 input").attr({
						"value" : "1000"
					});
					$("#2 input").attr({
						"value" : "XX"
					});
					$("#3 input").attr({
						"value" : "3"
					});
					$("#waybutton input").attr({
						"readOnly" : "true",
						"placeholder" : "已禁用"
					});
					switch (this.value) {
					case "0":
						$("#0 input").attr({
							"readOnly" : false,
							"value" : "",
							"placeholder" : "请输入"
						});
						break;
					case "1":
						$("#1 input").attr({
							"readOnly" : false,
							"value" : "",
							"placeholder" : "请输入"
						});
						break;
					case "2":
						$("#2 input").attr({
							"readOnly" : false,
							"value" : "",
							"placeholder" : "请输入"
						});
						break;
					case "3":
						$("#3 input").attr({
							"readOnly" : false,
							"value" : "",
							"placeholder" : "请输入"
						});
						break;
					}
				})
				/* 				$("#true").click(function() {
				 $("tbody").show();
				 }) */
			})
			function changeType() {
				var obj = event.target || event.srcElement;
				var num = parseInt($(obj).text());
				n1 = num * 3 - 1;
				n2 = n1 - 2;

				$("tbody>tr").show();

				$("tbody>tr:lt(" + n2 + ")").hide();
				$("tbody>tr:gt(" + n1 + ")").hide();
			}
		</script>
</body>
</html>