<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	version="2.5">
	<display-name>Library</display-name>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>
	<servlet>
		<description></description>
		<display-name>StartServlet</display-name>
		<servlet-name>StartServlet</servlet-name>
		<servlet-class>cn.tedu.web.StartServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>StartServlet</servlet-name>
		<url-pattern>/StartServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>Three_FindReaderServelt</display-name>
		<servlet-name>Three_FindReaderServelt</servlet-name>
		<servlet-class>cn.tedu.web.Three_FindReaderServelt</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Three_FindReaderServelt</servlet-name>
		<url-pattern>/Three_FindReaderServelt</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>Three_FindBookServlet</display-name>
		<servlet-name>Three_FindBookServlet</servlet-name>
		<servlet-class>cn.tedu.web.Three_FindBookServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Three_FindBookServlet</servlet-name>
		<url-pattern>/Three_FindBookServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>Three_FindBookServelt</display-name>
		<servlet-name>Three_FindBookServelt</servlet-name>
		<servlet-class>cn.tedu.web.Three_FindBookServelt</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Three_FindBookServelt</servlet-name>
		<url-pattern>/Three_FindBookServelt</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>BookInfoList</display-name>
		<servlet-name>BookInfoList</servlet-name>
		<servlet-class>cn.tedu.web.BookInfoList</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>BookInfoList</servlet-name>
		<url-pattern>/BookInfoList</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>BookInfoDelete</display-name>
		<servlet-name>BookInfoDelete</servlet-name>
		<servlet-class>cn.tedu.web.BookInfoDelete</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>BookInfoDelete</servlet-name>
		<url-pattern>/BookInfoDelete</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>BookInfoAdd</display-name>
		<servlet-name>BookInfoAdd</servlet-name>
		<servlet-class>cn.tedu.web.BookInfoAdd</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>BookInfoAdd</servlet-name>
		<url-pattern>/BookInfoAdd</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>BookInfoUpdate</display-name>
		<servlet-name>BookInfoUpdate</servlet-name>
		<servlet-class>cn.tedu.web.BookInfoUpdate</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>BookInfoUpdate</servlet-name>
		<url-pattern>/BookInfoUpdate</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>BookInfoSearch</display-name>
		<servlet-name>BookInfoSearch</servlet-name>
		<servlet-class>cn.tedu.web.BookInfoSearch</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>BookInfoSearch</servlet-name>
		<url-pattern>/BookInfoSearch</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>BorrowServlet</display-name>
		<servlet-name>BorrowServlet</servlet-name>
		<servlet-class>cn.tedu.web.BorrowServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>BorrowServlet</servlet-name>
		<url-pattern>/BorrowServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>ReturnBookServlet</display-name>
		<servlet-name>ReturnBookServlet</servlet-name>
		<servlet-class>cn.tedu.web.ReturnBookServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ReturnBookServlet</servlet-name>
		<url-pattern>/ReturnBookServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>RenewBookServlet</display-name>
		<servlet-name>RenewBookServlet</servlet-name>
		<servlet-class>cn.tedu.web.RenewBookServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>RenewBookServlet</servlet-name>
		<url-pattern>/RenewBookServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>LoginServlet</display-name>
		<servlet-name>LoginServlet</servlet-name>
		<servlet-class>cn.tedu.web.LoginServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>LoginServlet</servlet-name>
		<url-pattern>/LoginServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>Four_two</display-name>
		<servlet-name>Four_two</servlet-name>
		<servlet-class>cn.tedu.web.Four_two</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Four_two</servlet-name>
		<url-pattern>/Four_two</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>Four_one</display-name>
		<servlet-name>Four_one</servlet-name>
		<servlet-class>cn.tedu.web.Four_one</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Four_one</servlet-name>
		<url-pattern>/Four_one</url-pattern>
	</servlet-mapping>
</web-app>